extend layout

block content
    body.pushable
        .ui.large.top.fixed.menu.transition.hidden
          .ui.container
            a.active.item Home
          .right.menu
            .item
              a.ui.button Donate
        .ui.vertical.inverted.sidebar.menu.left
          a.active.item Home
          a.ui.button Donate
        .pusher
          .ui.inverted.vertical.masthead.center.aligned.segment
            .ui.container
              .ui.large.secondary.inverted.pointing.menu
                a.toc.item
                  i.sidebar.icon
                a.active.item Home
                .right.menu
                  .item
                    a.ui.inverted.button Donate
            .ui.text.container
              h1.ui.inverted.header A.M.C.A.I.
              h2
                =locals.description
              .ui.huge.primary.button
                ='Donate'
          .ui.vertical.stripe.segment
            .ui.middle.aligned.stackable.grid.container
              .row
                .eight.wide.column
                    - var descriptions = _.chain(contents['descriptions']._.pages).sortBy(function(item) {
                    -   return item.metadata['order'];
                    - }).value()
                    each description in descriptions
                      include partials/description
                .six.wide.right.floated.column
                  img(src=" http://placehold.it/350x350")
              .row
                .center.aligned.column
                  a.ui.huge.button Check Out
          .ui.vertical.stripe.quote.segment
              .ui.equal.width.stackable.internally.celled.grid
                .center.aligned.row
                    - var testimonials = _.chain(contents['testimonials']._.pages).sortBy(function(item) {
                    -   return item.metadata['order'];
                    - }).value()
                    each testimony in testimonials
                      include partials/testimony
          .ui.vertical.stripe.segment
            .ui.text.container
              h3.ui.header Breaking The Grid, Grabs Your Attention
              p Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
          .ui.inverted.vertical.footer.segment
            .ui.container
              .ui.stackable.inverted.divided.equal.height.grid
                .three.wide.column
                  h4.ui.inverted.header About
                .three.wide.column
                  h4.ui.inverted.header Services
                .three.wide.column
                  h4.ui.inverted.header FooterHeader